@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", serif;
}
.App {
  margin: 30px;
}
.card {
  border-radius: 25px !important;
  background-color: #f1f1f1;
}
.card h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
}
.card .form-control {
  border-radius: 25px !important;
}
.card .btn-primary {
  border-radius: 25px !important;
  padding: 7px 25px;
}

.details_card {
  background-color: #ddd;
  font-weight: 700;
  padding: 15px;
  border-radius: 15px;
}

.main_cards {
  margin: 10px 25px 30px 25px;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

.city_name {
  font-size: 1.2rem;
}

.cur_date {
  color: #8fc5fc;
  font-weight: 500;
}
.card h6 {
  color: #fff;
}

.temp {
  font-weight: 700;
  height: 68px;
  font-size: 50px;
}

.icon {
  margin-left: -16px;
}

.description {
  margin: -26px 0px 0px 10px;
}

.center_card {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(152 203 255) 0%, rgb(0 98 213) 100%);
  border-radius: 22px;
}
.temp_data {
  margin-top: -22px;
}

.city_name {
  color: #fff;
}

.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
}

.fp-container .fp-loader {
  top: 45%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}

.custom-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 25px;
}
.custom-select:focus {
  border: 1px solid #ced4da !important;
}

.flag_div img {
  max-width: 100%;
  max-height: 100%;
}

.flag_div {
  height: 100%;
  width: 40px;
  display: inline-block;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .main_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .main_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
